<div class='mt-4'>
  <h3>MY COURSES</h3>
  <table class='table'>
    <thead>
      <tr>
        <th scope='col'>#</th>
        <th scope='col'>Name</th>
        <th scope='col'>Level</th>
        <th scope='col'>Create Time</th>
        <th scope='col'>Action</th>
      </tr>
    </thead>
    <tbody>
        {{#each courses}}
      <tr>
        <th scope='row'>{{sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.level}}</td>
        <td>{{this.createdAt}}/td>
        <td>
            <a href="/courses/{{this._id}}/edit" class="btn btn-link">Edit</a>
            <a href="/hehe" class="btn btn-link">Delete</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>